<aside class="sidebar">

  <!-- SUBSCRIBE -->
  <section class="sidebar-block">
    <h3>Subscribe via email</h3>
    <p>Get a free ping via email when new post is out. Spam-free delivery, now and forever. Thanks for subscribing!</p>

    {{ partial "subscribe-form.html" . }}
  </section>

  <!-- FROM THE BLOG -->
  <section class="sidebar-block">
    <h3>From the blog</h3>

    <ul class="sidebar-posts">
      {{ range first 4 (where .Site.RegularPages "Type" "post") }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          <time class="post-date">{{ .Date.Format "Jan 2, 2006" }}</time>
        </li>
      {{ end }}
    </ul>
  </section>

  <!-- ABOUT THE AUTHOR -->
  <section class="sidebar-block">
    <h3>About the author</h3>
    <p>
      Welcome to <strong>Nomad Couch</strong> – My tiny travel log ⚡️ photo blog,
      where I share some of my favourite moments from travels and adventures near and far.
      I'm Juha, and I run this site.
    </p>

    <img src="https://nomadcouch.micro.blog/uploads/2025/juha-at-padar-island.jpg" alt="Juha at Padar Island">

  </section>

</aside>
