{{ define "main" }}
  {{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") }}
  {{ range $paginator.Pages }}
    <article class="post-list-item">
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <div class="content">{{ .Summary | safeHTML }}</div>
    </article>
  {{ end }}

  <div class="post-nav">
    {{ if $paginator.HasPrev }}
      <a href="{{ $paginator.Prev.URL }}">← Newer</a>
    {{ end }}
    {{ if $paginator.HasNext }}
      <a href="{{ $paginator.Next.URL }}">Older →</a>
    {{ end }}
  </div>
{{ end }}
